alabaster
babel
certifi
charset-normalizer
contourpy
cycler
docutils
fonttools
idna
imagesize
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
opencv-python
packaging
pillow
Pygments
pyparsing
python-dateutil
requests
scipy
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
